@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Bold.ttf");
    font-weight: bold;
}

a { all: unset; }

body {
    height: 100vh;
    font-family: "Space Mono";
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

#figures {
    justify-content: center;
    font-size: 1.25rem;
    margin-top: 15rem;
    display: flex;
    gap: 6em;
}

#figures figure { text-align: center; }

#skill { font-size: 1rem; }