@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "Space Mono";
    src: url("../font/SpaceMono-Bold.ttf");
    font-weight: bold;
}

a {
    all: unset;
}

body {
    height: 100vh;
    font-family: "Space Mono";
}

#header {
    font-weight: bold;
    font-size: 4rem;

    text-align: center;
}

#figures {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    gap: 6em;
    font-size: 1.25rem;

    /* padding: 10rem 20rem; */
    /* flex-direction: column; */
    /* align-items: center; */
}

#figures figure {
    /* margin: auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

#skill {
    font-size: 0.94rem;
}